配置目标_x86=y
配置目标_x86_通用=y
配置目标_x86_generic_Generic=y
配置包_grub2-efi=y
配置电喷图像=y
配置目标图像_GZIP=y
配置目标核部件尺寸=16
配置目标根FS分件大小=300
# CONFIG_GRUB_CONSOLE未设置
配置包_luci-app-ssr-plus=y
配置包_Luci-app-ssr-plus_包含_Shadowsocks=y
配置包_Luci-app-ssr-plus_包含_Shadowsocks_Rust=y
配置包_luci-app-ssr-plus_包含_V2ray_plugin=y
配置包_luci-app-ssr-plus_包含Xray=y
配置包_luci-app-ssr-plus_包含Trojan=y
配置包_Luci-app-ssr-plus_包括_Redsocks2=y
配置包_luci-app-ssr-plus_包含_NaiveProxy=y
配置包_luci-app-ssr-plus_包含_Kcptun=y
配置包_luci-app-ssr-plus_包含_ShadowsocksR_服务器=y
配置包_luci-i18n-ssr-plus-zh-cn=y
# 配置包_luci-app-qbittorrent 未设置
配置包_luci-theme-argon=y
配置包_luci-app-mwan3=y
配置包_luci-app-mwan3helper=y
配置包_luci-i18n-mwan3-zh-cn=y
配置包_luci-i18n-mwan3helper-zh-cn=y
配置包_luci-app-同步日期=y
配置包裹_luci-app-ttyd=y
配置包裹_luci-i18n-ttyd-zh-cn=y
配置包_luci-app-webadmin=y
配置包_luci-i18n-webadmin-zh-cn=y
配置包_dnsmasq_完全授权=y
配置包_dnsmasq_完整连接轨迹=y
配置包_dnsmasq_full_dnnssec=y
配置包_ddns-脚本_cloudflare.com-v4=y
配置包_ddns-脚本_freedns_42_pl=y
配置包_ddns脚本_godaddy.com-v1=y
配置包_ddns脚本_no-ip_com=y
配置包_ddns-脚本_nsupdate=y
配置包_ddns脚本_route53-v1=y
配置包裹卷轴=y
配置包裹_htop=y
配置包装_nano=y
配置包裹_wget=y
配置包_kmod-kvm-amd=y
配置包_kmod-kvm-intel=y
配置包_kmod-kvm-x86=y
配置_开放SSL引擎_密码=y
配置_OPENSSL_ENGINE_DIGEST=y
配置OPENSSL_WITH_CAMELLIA=y
配置_带压缩的开放SSL=y
配置_OPENSSL_WITH_DTLS=y
配置_OPENSSL_WITH_EC2M=y
配置带有错误消息的开放SSL=y
配置OPENSSL_WITH_GOST=y
配置OPENSSL_WITH_IDEA=y
配置_OPENSSL_WITH_MDC2=y
配置_OPENSSL_WITH_RFC3779=y
配置OPENSSL_WITH_SEED=y
配置OPENSSL_WITH_WHIRLPOOL=y
配置神经元构建用户=“eSir游乐场”
配置文件标题="OpenWr由电子游戏自动构建”
配置_OPENVPN_openssl_ENABLE_DEF_AUTH=y
配置_OPENVPN_openssl_启用_配置=y
配置_OPENVPN_openssl_ENABLE_LZ4=y
配置_OPENVPN_openssl_ENABLE_LZO=y
配置_OPENVPN_openssl_启用多主机=y
配置_OPENVPN_openssl_ENABLE_PF=y
配置_OPENVPN_openssl_启用_端口_共享=y
配置_OPENVPN_openssl_ENABLE_SERVER=y
配置_OPENVPN_openssl_ENABLE_SMALL=y
配置包_kmod-usb-ohci=y
配置包_kmod-usb-ohci-pci=y
配置包_kmod-usb-storage-uas=y
配置包_kmod-usb-uhci=y
配置包_kmod-sdhci=y
配置包_kmod-usb-ehci=y
配置包_kmod-usb2=y
配置包_kmod-usb2-pci=y
配置包_kmod-usb3=y
配置包_luci-app-frpc=y
#配置包_luci-app-passwall=y
#配置包_luci-app-passwall_包含_Brook=y
#配置包_Luci-app-passwall_包含_ChinaDNS_NG=y
#配置包_luci-app-passwall_包含_Haproxy=y
#配置包_luci-app-passwall_包含_Hysteria=y
#配置包_luci-app-passwall_包含_Kcptun=y
#配置包_luci-app-passwall_包含_NaiveProxy=y
#配置包_luci-app-passwall_包含_PDNSD=y
#配置包_luci-app-passwall_包含_Shadowsocks_Libev_Client=y
#配置包_luci-app-passwall_包含_Shadowsocks_Libev_Server=y
#配置包_luci-app-passwall_包含_Shadowsocks_Rust_Client=y
#配置包_luci-app-passwall_包含_ShadowsocksR_Libev_Client=y
#配置包_luci-app-passwall_包含_ShadowsocksR_Libev_Server=y
#配置包_luci-app-passwall_包含_简单_Obfs=y
#配置包_luci-app-passwall_包含_Trojan_GO=y
#配置包_luci-app-passwall_包含_Trojan_Plus=y
#配置包_luci-app-passwall_包含_V2ray=y
#配置包_luci-app-passwall_包含_V2ray_插件=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray=y
#CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Xray_Plugin=y
